@page "{id:int?}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model E_commerce.CustomerSite.Pages.Product.ProductDetailModel
@{
	
}
<div class="container-fluid bg-light">
	<div class="container">
		<div class="row align-items-center detail-component">
			<div class="col-lg-5">
				<img class="img-fluid w-100" src="@Model.hinh_anh" alt="">
			</div>
			<div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
				<h1 class="display-4 mb-4">@Model.ten_thc</h1>
				<h4 class="text-secondary mb-4 ">Đánh giá:
					<div class="star-wrapper">
					 @for (var i=1; i<=5; i++){
							<a
							asp-page-handler="rating"
							asp-route-number="@i"
							asp-route-Id_thc="@Model.Id_thc"
							>
								<span class="fas fa-star"></span>
							</a>
						}
						</div>
					@* <div class="star-wrapper">
						<asp:Rating ID=""  class="fas fa-star s1"></a>
						<a href="#" class="fas fa-star s2"></a>
						<a href="#" class="fas fa-star s3"></a>
						<a href="#" class="fas fa-star s4"></a>
						<a href="#" class="fas fa-star s5"></a>
					</div> *@
					<script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>
				</h4>
				<p class="mb-4">@Model.gioi_thieu</p>
			</div>
		</div>
		<div class="detailPD">
			<h2 class="TTdetail">Mô Tả Chi Tiết</h2>
			<p>@Model.mo_ta</p>
		</div>
	</div>
</div>